<?xml version="1.0" encoding="utf-8" ?>
<BrowserSettings>
  <BrowserSelection>
    <Browser Type="IE"/>
  </BrowserSelection>
  <BrowserDriver>
    <Firefox Path="C:\\Program Files (x86)\\Mozilla Firefox\\firefox.exe" />
    <Chrome Path="." />
    <!-- EnsureCleanSession, if set to true, will clean cache of *all* instances -->
    <InternetExplorer EnsureCleanSession="false" InitialBrowserUrl="" IgnoreProtectedMode="true" Path="." />
  </BrowserDriver>
  <BrowserOptions>
    <Window>
      <Size>1024,850</Size>
      <!--<Position>0,-900</Position>-->
      <!--<Position>1600,0</Position>-->
      <Position>0,0</Position>
    </Window>
  </BrowserOptions>
</BrowserSettings>